<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NewsServices</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CategoriesServlet</servlet-name>
    <servlet-class>com.code.web.CategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesServlet</servlet-name>
    <url-pattern>/CategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.code.web.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.code.web.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsAdd</display-name>
    <servlet-name>NewsAdd</servlet-name>
    <servlet-class>com.code.web.NewsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsAdd</servlet-name>
    <url-pattern>/newsAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsListServlet</display-name>
    <servlet-name>NewsListServlet</servlet-name>
    <servlet-class>com.code.web.NewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsListServlet</servlet-name>
    <url-pattern>/newsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNewsServlet</display-name>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <servlet-class>com.code.web.UpdateNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <url-pattern>/updateNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNewsServlet</display-name>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <servlet-class>com.code.web.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <url-pattern>/deleteNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsForwardServlet</display-name>
    <servlet-name>NewsForwardServlet</servlet-name>
    <servlet-class>com.code.web.NewsForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsForwardServlet</servlet-name>
    <url-pattern>/newsForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserExitServlet</display-name>
    <servlet-name>UserExitServlet</servlet-name>
    <servlet-class>com.code.web.UserExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserExitServlet</servlet-name>
    <url-pattern>/userExitServlet</url-pattern>
  </servlet-mapping>
</web-app>